img{
    justify-content: left;
    width: 280px;
    display: inline-block;
    margin: 0;
}

.searchbox{
    float: right;
    margin: -125px 0;
    /* background: linear-gradient(rgb(121, 216, 153), white); */
    /* width: 250px;
    height: 80px;
    padding: 0; */
    /* margin-top: 0; */
    margin: -120px 0;
}
.container{
    width: 2000px;
    height: auto;
    border: 1px solid grey;
    margin: 0 auto;
}
.menu{
    height: 55px;
    background: linear-gradient(rgb(211, 211, 81), yellow);
    padding: 9px 0;
}

.motto {
    text-align: center;
}


#motto{
    color: darkgoldenrod;
    margin: -1 0;
}

ul{
    list-style: none;
}

.menu ul li{
    float: left;
    padding: 0 85px;
    height: 30px;
    border-right: 1px solid blue;
}

.menu ul li:last-child{
    border-right: none;
}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: blue;
    line-height: 30px;
    transition: width 3px 0.3 ease-in;
}

.menu ul li a:hover, .menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
}

.text{
    float: left;
    width: 200px;
    height: 5+px;
    padding: 5px;
    font-size: 15px;
    color: brown;
    background: green url('/search.png') right center    no-repeat;
    border: 1px solid yellow;
}

.submit{
    float: right;
    padding: 1px;
    font-weight: bold;
    color: white;
    background-color: rgb(158, 243, 0);
}

.clear{
    clear: both;
}
.searchbox ul li a{
    text-decoration: none;
}

#introduction p{
    font-size: 25px;
    color: rgb(255, 161, 21);
    font-weight: normal;
    font-weight: bolder;
}

body{
    background-color: rgb(210, 241, 247);
}